html,body {
margin:0;
padding:0;
}

body {
background:#fcfaeb url(http://i.imgur.com/QGHIHZa.jpg) no-repeat fixed left top;
}

.mainmenufooter a {
color:#f2f2f2;
}

.mainmenufooter a:hover {
color:#fff;
}

.menugroup .button {
color:#fff;
background:#262626!important;
border:solid 1px #000!important;
}

.menugroup .button:hover,.menugroup .button:active {
color:#fff;
background:#1a1a1a!important;
border:solid 1px #000!important;
}

.mainmenu .menugroup .button.disabled,.mainmenu .menugroup .button.disabled:hover,.mainmenu .menugroup .button.disabled:active {
color:#fff!important;
}

.userlist li button:hover {
background:rgba(220,228,236,0.4);
}

.userlist li button:active {
background:rgba(204,212,220,0.4);
}

.dark .userlist li button:hover {
background:rgba(34,34,34,0.4);
}

.dark .userlist li button:active {
background:rgba(0,0,0,0.4);
}

.broadcast-lobby {
color:#fff;
background-color:#fcfaeb;
padding:5px 7px;
}

.broadcast-emerald {
color:#fff;
text-shadow:2px 2px 2px #000;
background-color:#0b121f;
background-repeat:no-repeat;
background-image:url(http://cbc.pokecommunity.com/config/backgrounds/emerald.png);
padding:5px 7px;
}

.broadcast-emerald-alt {
color:#fff;
background-color:#0b121f;
padding:5px 7px;
}

.broadcast-sun-moon {
color:#fff;
text-shadow:2px 2px 2px #000;
background-color:#0c070f;
background-repeat:no-repeat;
background-image:url(http://cbc.pokecommunity.com/config/backgrounds/sun-moon.png);
padding:5px 7px;
}

.broadcast-sun-moon-alt {
color:#fff;
background-color:#0c070f;
padding:5px 7px;
}

.profile-title {
font-family:georgia,times,serif;
font-size:14pt;
font-weight:700;
font-style:italic;
}

  #lobby-userlist-user-elveman, #tournaments-userlist-user-elveman { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/f0KvyHC.png") right no-repeat;
  }

  #lobby-userlist-user-rpcbot, #tournaments-userlist-user-rpcbot { 
    background: rgba(244, 244, 244, 0.8) url("http://www.serebii.net/pokedex-dp/icon/474.gif") right no-repeat;
  }

  #lobby-userlist-user-liebad, #tournaments-userlist-user-liebad { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/U6ES6ct.png") right no-repeat !important;
  }

  #lobby-userlist-user-nyalol, #tournaments-userlist-user-nyalol { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/mLgJVkB.png") right no-repeat !important;
  }

  #lobby-userlist-user-gagaslittlemonster, #tournaments-userlist-user-gagaslittlemonster { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/scMZdgb.png") right no-repeat !important;
  }

  #lobby-userlist-user-firedancerayz, #tournaments-userlist-user-firedancerayz { 
    background: rgba(244, 244, 244, 0.8) url("http://cdn.bulbagarden.net/upload/a/ad/384MMS.png") right no-repeat;
  }

  #lobby-userlist-user-jasondeluxe, #tournaments-userlist-user-jasondeluxe { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/DQUSxaa.gif") right no-repeat;
  }

  #lobby-userlist-user-psychedelicitsuki, #tournaments-userlist-user-psychedelicitsuki { 
    background: rgba(244, 244, 244, 0.8) url("http://static.blogocio.net/poke/i/pinball-rz/sprites/animated/egg-146.gif") right no-repeat;
  }

  #lobby-userlist-user-codyclohr, #tournaments-userlist-user-codyclohr { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/ETQhRJL.png") right no-repeat;
  }

  #lobby-userlist-user-lado, #tournaments-userlist-user-lado { 
    background: rgba(244, 244, 244, 0.8) url("http://www.serebii.net/pokedex-xy/icon/715.png") right no-repeat;
  }

  #lobby-userlist-user-pawwz { 
    background: rgba(244, 244, 244, 0.8) url("http://serebii.net/pokedex-xy/icon/059.png") right no-repeat;
  }

  #lobby-userlist-user-thetruearsyha, #tournaments-userlist-user-thetruearsyha { 
    background: rgba(244, 244, 244, 0.8) url("http://cdn.bulbagarden.net/upload/4/47/429MS.png") right no-repeat;
  }

  #lobby-userlist-user-deadbydaylight, #tournaments-userlist-user-deadbydaylight { 
    background: rgba(244, 244, 244, 0.8) url("http://i.imgur.com/PbmRiHL.png") right no-repeat;
  }

  #lobby-userlist-user-bigshelder, #tournaments-userlist-user-bigshelder { 
    background: rgba(244, 244, 244, 0.8) url("http://veekun.com/dex/media/pokemon/icons/6-mega-x.png") right no-repeat;
  } 
